* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
}

.header-judul {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}


.registration-form {
    display: flex;
    flex-direction: column;
}


.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
}

input, select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid beige;
    font-size: 14px;
}

select {
    background-color: beige;
}


button {
    background-color: green;
    color: white;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

h2 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}